{{> head}}
{{> navbar }}

<div class="row">
    <div class="col">
        <h1>Node Image</h1>
    </div>
    <div class="col">
        <img src="assets/img/node.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}